<!DOCTYPE html>
<html>
  <head>
    <title>Oakland Crime</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

      /* Panel to display year slider and crime distribution */
      #panel {
        position: absolute;
        top: 0px;
        left: 99%;
        margin-left: -300px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

    </style>
  </head>
  <body>
    <div id="map"></div>

    <script>
      var map;
      function initMap() { 
        // Initialize new map centered on Oakland with appropriate zoom
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.780159, lng: -122.209740},
          zoom: 12
        }); 
        // Add Census shapes from GeoJSON
        map_jsons = {{ map_jsons | safe }}
        map.data.addGeoJson(map_jsons);

        // Style disappears on mouseover for better visibility
        // Chart redrawn on mouseover with data for selected neighborhood
        map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          map.data.overrideStyle(event.feature, {strokeWeight: 2, fillColor: '#000000', fillOpacity: 0.3});
          // Redraw chart on mouseover, given year from slider:
          var year = document.getElementById("year_slider").value;
          drawChart(event.feature.getProperty('data')[year][0]);
          });
        // Style reverts on mouse out
        map.data.addListener('mouseout', function(event) {
          map.data.revertStyle();
          // Redraw chart with no data on mouse out
          drawChart();
        });

        // Assign colors from GeoJSON
        map.data.setStyle(function(feature) {
        return {
          fillColor: feature.getProperty('2009'),
          strokeWeight: 1
          };
        });
        show_year();
      }

      // Year slider
      function show_year() {
        var year = document.getElementById("year_slider").value;
        var element = document.getElementById("year");
        element.innerHTML = year;

        map.data.setStyle(function(feature) {
          return {
            fillColor: feature.getProperty(year),
            fillOpacity: .5,
            strokeWeight: 1
          };
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI62Elt07dmxFJC3J0-6GQIog-00OeUnU&callback=initMap"
    async defer></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the chart, passes in the data and
      // draws it
      function drawChart(crime_data) {
        // Create the data table.
        var data = new google.visualization.DataTable();
        var crime_data = typeof crime_data !== 'undefined' ? crime_data: 0;
        var q_count = crime_data[0]
        var nv_count = crime_data[36];
        var vbi_count = crime_data[72];
        var vt_count = crime_data[108];
        var v_count = crime_data[144];
        data.addColumn('string', 'Crime Category');
        data.addColumn('number', 'Crimes');
        data.addRows([
          ['Quality', q_count],
          ['Nonviolent', nv_count],
          ['Car Break In', vbi_count],
          ['Car Theft', vt_count],
          ['Violent', v_count]
        ]);

        // Set chart options
        var options = {'title':'Crime Counts by Category',
                       'width':300,
                       'height':300,
                       'legend':'none',
                       'vAxis':{
                          'title':"Count",
                          'viewWindowMode':'explicit',
                          'viewWindow':{'max':350,'min':0}}
                       };

        // Instantiate and draw our chart, passing in some options
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>



    <div id="panel">
      <div>
      <b>Oakland Neighborhoods</b.
      <p type="text" id="crimes" /> 
      </div>
      <div>
        <input type="range" id="year_slider" min="2009" max="2014" step="1" value="2009"
            onchange="show_year();"> <br>
        <p class="year">Year: <span id="year" value="2009"></span></p>
      </div>
    <div id="chart_div"></div>
    </div>

  </body>
</html>