<!DOCTYPE html>
<html>
  <head>
    <title>Oakland Crime</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

var map;
function initMap() { 
  // Initialize new map centered on Oakland with appropriate zoom
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.780159, lng: -122.209740},
    zoom: 12
  }); 
  // Add Census shapes from GeoJSON
  map_jsons = eval( {{ map_jsons | safe }} )
  map.data.addGeoJson(map_jsons);
  // Assign colors from GeoJSON
  map.data.setStyle(function(feature) {
  return {
    fillColor: feature.getProperty('color'),
    strokeWeight: 1
    };

    // Color disappears on mouse over for better visibility and reappears on mouse out.
    // map.data.addListener('mouseover', function(event) {
    // map.data.revertStyle();
    // map.data.overrideStyle(event.feature, {strokeWeight: 5, fillColor: '#000000', fillOpacity: 0.3});
    // });
  //   map.data.addListener('mouseout', function(event) {
  //   map.data.revertStyle();
  // });

  });
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI62Elt07dmxFJC3J0-6GQIog-00OeUnU&callback=initMap"
        async defer></script>
  </body>
</html>